AuxScripts/ca.ipynb
AuxScripts/extractMeteorology.ipynb
FireData/Topography/GMTED2010_Spatial_Metadata.zip
FireData/Topography/GMTED2010_Spatial_Metadata/GMTED2010_Spatial_Metadata.dbf
FireData/Topography/GMTED2010_Spatial_Metadata/GMTED2010_Spatial_Metadata.prj
FireData/Topography/GMTED2010_Spatial_Metadata/GMTED2010_Spatial_Metadata.sbn
FireData/Topography/GMTED2010_Spatial_Metadata/GMTED2010_Spatial_Metadata.shp.xml
FireData/Topography/GMTED2010_Spatial_Metadata/GMTED2010_Spatial_Metadata.shx
FireData/Topography/GMTED2010_Spatial_Metadata/GMTED2010_Spatial_Metadata.shp
FireData/Topography/GMTED2010_Spatial_Metadata/GMTED2010_Spatial_Metadata.sbx
FireData/Topography/md30_grd/md30_grd/w001001x.adf
.gitignore
FireData/Topography/md30_grd/md30_grd/w001001.adf
FireData/Topography/md30_grd/md30_grd/w001000x.adf
FireData/Topography/md30_grd/md30_grd/w001000.adf
FireData/Topography/md30_grd/md30_grd/prj.adf
FireData/Topography/md30_grd.zip
FireData/Topography/md30_grd/md30_grd.aux.xml
FireData/Topography/md30_grd/info/arc.dir
FireData/Topography/md30_grd/info/arc0000.dat
FireData/Topography/md30_grd/info/arc0000.nit
FireData/Topography/md30_grd/info/arc0001.dat
FireData/Topography/md30_grd/info/arc0001.nit
FireData/Topography/md30_grd/info/arc0002.nit
FireData/Topography/md30_grd/md30_grd/hdr.adf
FireData/Topography/md30_grd/md30_grd/metadata.xml
FireData/Topography/md30_grd/md30_grd/sta.adf
FireData/Topography/md30_grd/md30_grd/vat.adf
FireData/Topography/md30_grd/info/arc0002.dat
FireData/Topography/md30_grd/md30_grd/dblbnd.adf
FireData/Topography/md75_grd.zip
