AuxScripts/ca.ipynb
AuxScripts/extractMeteorology.ipynb
FireData/Topography/GMTED2010_Spatial_Metadata.zip
FireData/Topography/GMTED2010_Spatial_Metadata/GMTED2010_Spatial_Metadata.dbf
FireData/Topography/GMTED2010_Spatial_Metadata/GMTED2010_Spatial_Metadata.prj
FireData/Topography/GMTED2010_Spatial_Metadata/GMTED2010_Spatial_Metadata.sbn
FireData/Topography/GMTED2010_Spatial_Metadata/GMTED2010_Spatial_Metadata.shp.xml
FireData/Topography/GMTED2010_Spatial_Metadata/GMTED2010_Spatial_Metadata.shx
FireData/Topography/GMTED2010_Spatial_Metadata/GMTED2010_Spatial_Metadata.shp
FireData/Topography/GMTED2010_Spatial_Metadata/GMTED2010_Spatial_Metadata.sbx
FireData/Topography/md30_grd/md30_grd/w001001x.adf
.gitignore
FireData/Topography/md30_grd/md30_grd/w001001.adf
FireData/Topography/md30_grd/md30_grd/w001000x.adf
FireData/Topography/md30_grd/md30_grd/w001000.adf
FireData/Topography/md30_grd/md30_grd/prj.adf
FireData/Topography/md30_grd.zip
FireData/Topography/md30_grd/md30_grd.aux.xml
FireData/Topography/md30_grd/info/arc.dir
FireData/Topography/md30_grd/info/arc0000.dat
FireData/Topography/md30_grd/info/arc0000.nit
FireData/Topography/md30_grd/info/arc0001.dat
FireData/Topography/md30_grd/info/arc0001.nit
FireData/Topography/md30_grd/info/arc0002.nit
FireData/Topography/md30_grd/md30_grd/hdr.adf
FireData/Topography/md30_grd/md30_grd/metadata.xml
FireData/Topography/md30_grd/md30_grd/sta.adf
FireData/Topography/md30_grd/md30_grd/vat.adf
FireData/Topography/md30_grd/info/arc0002.dat
FireData/Topography/md30_grd/md30_grd/dblbnd.adf
FireData/Topography/md75_grd.zip
FireData/Dataset_WeatherHistory/concatenated_df.csv
FireData/Topography/71678.zip
FireData/Topography/Results/u2018_clc2018_v2020_20u1_raster100m.zip
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/U2018_CLC2018_V2020_20u1.tfw
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/U2018_CLC2018_V2020_20u1.tif
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/U2018_CLC2018_V2020_20u1.tif.aux.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/U2018_CLC2018_V2020_20u1.tif.ovr
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/U2018_CLC2018_V2020_20u1.tif.vat.cpg
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/U2018_CLC2018_V2020_20u1.tif.vat.dbf
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/U2018_CLC2018_V2020_20u1.tif.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_GLP.tfw
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_GLP.tif
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_GLP.tif.aux.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_GLP.tif.ovr
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_GLP.tif.ovr.aux.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_GLP.tif.vat.cpg
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_GLP.tif.vat.dbf
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_GLP.tif.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_GUF.tfw
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_GUF.tif
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_GUF.tif.aux.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_GUF.tif.ovr
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_GUF.tif.vat.cpg
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_GUF.tif.vat.dbf
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_GUF.tif.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_MTQ.tfw
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_MTQ.tif
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_MTQ.tif.aux.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_MTQ.tif.ovr
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_MTQ.tif.vat.cpg
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_MTQ.tif.vat.dbf
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_MTQ.tif.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_MYT.tfw
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_MYT.tif
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_MYT.tif.aux.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_MYT.tif.ovr
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_MYT.tif.vat.cpg
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_MYT.tif.vat.dbf
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_MYT.tif.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_REU.tfw
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_REU.tif
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_REU.tif.aux.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_REU.tif.ovr
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_REU.tif.vat.cpg
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_REU.tif.vat.dbf
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/DATA/French_DOMs/U2018_CLC2018_V2020_20u1_FR_REU.tif.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Documents/clc-and-clcc-release-lineage-v20u1.pdf
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Documents/clc-country-coverage-1990-2018-v20u1.pdf
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Documents/clc-country-coverage-1990-2018-v20u1.xls
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Documents/clc-file-naming-conventions-guide-v20u1.pdf
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Documents/How use ESRI CLC raster files in QGIS.doc
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Documents/readme_U2018_CLC2018_V2020_20u1_FR_GLP.txt
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Documents/readme_U2018_CLC2018_V2020_20u1_FR_GUF.txt
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Documents/readme_U2018_CLC2018_V2020_20u1_FR_MTQ.txt
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Documents/readme_U2018_CLC2018_V2020_20u1_FR_MYT.txt
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Documents/readme_U2018_CLC2018_V2020_20u1_FR_REU.txt
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Documents/readme_U2018_CLC2018_V2020_20u1.txt
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Documents/readme_V2020_20u1_raster.txt
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/French_DOMs/Legend/clc_legend_qgis_raster.qml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/French_DOMs/Legend/CLC2018_CLC2018_V2018_20_FR_GLP.tif.lyr
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/French_DOMs/Legend/CLC2018_CLC2018_V2018_20_FR_GUF.tif.lyr
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/French_DOMs/Legend/CLC2018_CLC2018_V2018_20_FR_MTQ.tif.lyr
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/French_DOMs/Legend/CLC2018_CLC2018_V2018_20_FR_MYT.tif.lyr
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/French_DOMs/Legend/CLC2018_CLC2018_V2018_20_FR_REU.tif.lyr
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/French_DOMs/Legend/CLC2018_CLC2018_V2018_20_QGIS.txt
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Legend/clc_legend_qgis_raster.qml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Legend/CLC2018_CLC2018_V2018_20_QGIS.txt
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Legend/CLC2018_CLC2018_V2018_20.tif.lyr
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Metadata/U2018_CLC2018_V2020_20u1_FR_GLP.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Metadata/U2018_CLC2018_V2020_20u1_FR_GUF.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Metadata/U2018_CLC2018_V2020_20u1_FR_MTQ.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Metadata/U2018_CLC2018_V2020_20u1_FR_MYT.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Metadata/U2018_CLC2018_V2020_20u1_FR_REU.xml
FireData/Topography/u2018_clc2018_v2020_20u1_raster100m/Metadata/U2018_CLC2018_V2020_20u1.xml
FireData/NaturalFires/WeatherHistory.csv
FireData/Dataset_WeatherHistory/concatenatedNoFire_df.csv
FireData/Topography/md75_grd/md75_grd.aux.xml
FireData/Topography/md75_grd/info/arc.dir
FireData/Topography/md75_grd/info/arc0000.dat
FireData/Topography/md75_grd/info/arc0000.nit
FireData/Topography/md75_grd/info/arc0001.dat
FireData/Topography/md75_grd/info/arc0001.nit
FireData/Topography/md75_grd/md75_grd/dblbnd.adf
FireData/Topography/md75_grd/md75_grd/hdr.adf
FireData/Topography/md75_grd/md75_grd/metadata.xml
FireData/Topography/md75_grd/md75_grd/prj.adf
FireData/Topography/md75_grd/md75_grd/sta.adf
FireData/Topography/md75_grd/md75_grd/w001000.adf
FireData/Topography/md75_grd/md75_grd/w001000x.adf
FireData/Topography/md75_grd/md75_grd/w001001.adf
FireData/Topography/md75_grd/md75_grd/w001001x.adf
FireData/Topography/md75_grd/md75_grd/z001001.adf
FireData/Topography/md75_grd/md75_grd/z001001x.adf
FireData/Topography/md75_grd/md75_grd/z001002.adf
FireData/Topography/md75_grd/md75_grd/z001002x.adf
FireData/Topography/md75_grd/md75_grd/z001003.adf
FireData/Topography/md75_grd/md75_grd/z001003x.adf
FireData/Topography/md75_grd/md75_grd/z001004.adf
FireData/Topography/md75_grd/md75_grd/z001004x.adf
FireData/Topography/md75_grd/md75_grd/z001005.adf
FireData/Topography/md75_grd/md75_grd/z001005x.adf
FireData/Topography/md75_grd/md75_grd/z001006.adf
FireData/Topography/md75_grd/md75_grd/z001006x.adf
FireData/Topography/md75_grd/md75_grd/z001007.adf
FireData/Topography/md75_grd/md75_grd/z001007x.adf
FireData/Topography/md75_grd/md75_grd/z001008.adf
FireData/Topography/md75_grd/md75_grd/z001008x.adf
FireData/Topography/md75_grd/md75_grd/z001009.adf
FireData/Topography/md75_grd/md75_grd/z001009x.adf
FireData/Topography/md75_grd/md75_grd/z001010.adf
FireData/Topography/md75_grd/md75_grd/z001010x.adf
FireData/Topography/md75_grd/md75_grd/z001011.adf
FireData/Topography/md75_grd/md75_grd/z001011x.adf
FireData/Topography/md75_grd/md75_grd/z001012.adf
FireData/Topography/md75_grd/md75_grd/z001012x.adf
FireData/Topography/md75_grd/md75_grd/z001013.adf
FireData/Topography/md75_grd/md75_grd/z001013x.adf
FireData/Topography/md75_grd/md75_grd/z001014.adf
FireData/Topography/md75_grd/md75_grd/z001014x.adf
FireData/Topography/md75_grd/md75_grd/z001015.adf
FireData/Topography/md75_grd/md75_grd/z001015x.adf
FireData/Topography/md75_grd/md75_grd/z001016.adf
FireData/Topography/md75_grd/md75_grd/z001016x.adf
FireData/Topography/md75_grd/md75_grd/z001017.adf
FireData/Topography/md75_grd/md75_grd/z001017x.adf
FireData/Topography/md75_grd/md75_grd/z001018.adf
FireData/Topography/md75_grd/md75_grd/z001018x.adf
FireData/Topography/md75_grd/md75_grd/z001019.adf
FireData/Topography/md75_grd/md75_grd/z001019x.adf
FireData/Topography/md75_grd/md75_grd/z001020.adf
FireData/Topography/md75_grd/md75_grd/z001020x.adf
FireData/Topography/md75_grd/md75_grd/z001021.adf
FireData/Topography/md75_grd/md75_grd/z001021x.adf
FireData/Topography/md75_grd/md75_grd/z001022.adf
FireData/Topography/md75_grd/md75_grd/z001022x.adf
FireData/Topography/md75_grd/md75_grd/z001023.adf
FireData/Topography/md75_grd/md75_grd/z001023x.adf
FireData/Topography/md75_grd/md75_grd/z001024.adf
FireData/Topography/md75_grd/md75_grd/z001024x.adf
FireData/Topography/md75_grd/md75_grd/z001025.adf
FireData/Topography/md75_grd/md75_grd/z001025x.adf
FireData/Topography/md75_grd/md75_grd/z001026.adf
FireData/Topography/md75_grd/md75_grd/z001026x.adf
FireData/Topography/md75_grd/md75_grd/z001027.adf
FireData/Topography/md75_grd/md75_grd/z001027x.adf
FireData/Topography/md75_grd/md75_grd/z001028.adf
FireData/Topography/md75_grd/md75_grd/z001028x.adf
FireData/Topography/md75_grd/md75_grd/z001029.adf
FireData/Topography/md75_grd/md75_grd/z001029x.adf
FireData/Topography/md75_grd/md75_grd/z001030.adf
FireData/Topography/md75_grd/md75_grd/z001030x.adf
FireData/Topography/md75_grd/md75_grd/z001031.adf
FireData/Topography/md75_grd/md75_grd/z001031x.adf
FireData/NaturalFires/WeatherHistoryNoFire_df.csv
FireData/Topography/rasters_COP30.tar.gz
FireData/Topography/ne_10m_admin_0_countries_prt/ne_10m_admin_0_countries_prt.dbf
FireData/Topography/ne_10m_admin_0_countries_prt/ne_10m_admin_0_countries_prt.prj
FireData/Topography/ne_10m_admin_0_countries_prt/ne_10m_admin_0_countries_prt.README.html
FireData/Topography/ne_10m_admin_0_countries_prt/ne_10m_admin_0_countries_prt.shp
FireData/Topography/ne_10m_admin_0_countries_prt/ne_10m_admin_0_countries_prt.shx
FireData/Topography/ne_10m_admin_0_countries_prt/ne_10m_admin_0_countries_prt.VERSION.txt
FireData/Topography/output_COP30.tif
FireData/Topography/viz.tar.gz
FireData/Topography/viz/viz.COP30_aspect.tif
FireData/Topography/viz/viz.COP30_roughness.tif
FireData/Topography/viz/viz.COP30_slope.tif
FireData/Topography/Results/U2018_CLC2018_V2020_20u1_doc.zip
FireData/Topography/Results/U2018_CLC2018_V2020_20u1.json
FireData/Topography/72665.zip
FireData/Topography/72623.zip
FireData/NaturalFires/NoFireWeatherHistory.csv
FireData/NaturalFires/daily_averageNoFire.csv
FireData/NaturalFires/daily_average.csv
FireData/Dataset_WeatherHistory/AveragesByDay/daily_average.csv
FireData/Dataset_WeatherHistory/daily_average.csv
